@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
/* font-family: 'Josefin Sans', sans-serif; 300,400 and 600 */
* {
  box-sizing: border-box;
}

html {
  --primary-desasturated-red:hsl(0,36%,70%);
  --primary-soft-red:hsl(0, 93%, 68%);
  --neutral-dark-grayish-red:hsl(0, 6%, 24%);
  --gradient-one:linear-gradient(135deg,hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-thwo:linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
}

body {
  font-size:16px;
  font-family: 'Josefin Sans', sans-serif;
  margin:0;
  padding:0;
}

/* Mobile first */
.hero__img_desktop { display:none;}
.heading__logo { display:none; }

.content {
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.container {
  border:2px solid black;
  max-width:375px;
  display:flex;
  flex-direction: column;
}

.hero {
  display:flex;
  flex-direction: column;
}

.heading {
  display:flex;
  flex-direction: column;
  text-align: center;
}
.hero__logo {
  width:40%;
  padding:1rem;
}
.heading__header {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin:0;
  margin-top: 3rem;
  color:var(--neutral-dark-grayish-red);
}
.heading__header strong {
  color:var(--primary-desasturated-red);
  font-weight:300;
}
.heading__txt {
  color:var(--primary-desasturated-red);
  padding:0 1rem;
  margin-bottom: 2rem;
}

.heading__input {
  display:flex;
  justify-content: center;
  align-items: center;
  width:80%;
  margin:auto;
  margin-bottom: 2rem;
  position:relative;
}
.input__email {
  border-radius: 1rem 2rem 2rem 1rem;
  width:100%;
  padding:1rem 0;
  border:1px solid var(--primary-desasturated-red);
}
.input__btn {
  padding:1rem 2.1rem;
  border-radius: 2rem;
  background-repeat: no-repeat;
  background-image: url('images/icon-arrow.svg'),var(--gradient-thwo);
  background-position:30px 12px,100%;
  border:none;
  position: absolute;
  right:0rem;
}
.input__email::placeholder {
  color:var(--primary-desasturated-red);
  padding:1rem;
}